*{
    margin: 0;
    padding: 0;
}
#home{
    width: 95%;
    margin: auto;
}
#blue{
    background-color: blue;
    padding: 20px;
    height: 300px;

}
#whit{
    margin: auto;
    padding: 1%;
    border-radius: 10px;
    background-color: aliceblue;
}
.check{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}
#delhi{
    display: flex;
    border: 0.1px solid grey;
    margin: auto;
    margin-top: 1%;
    width: 100%;
    height: 110px;
    display: flex;
    border-radius: 8px;
}
#bang{
    display: flex;
    width: 50%;
}
#bang>div{
    border: 0.1px solid rgb(187, 187, 187);
    width: 50%;
    padding: 0% 0% 0% 1%;
    text-align: left;
}
#bang>div:first-child{
    border-radius: 8px 0 0 8px;
}