* {
  margin: 0;
  padding: 0;
}

#home {
  width: max-content;
  margin: auto;
  margin-top: 70px;
  
}
#blue {
  background-color: #0b69b5;
  padding: 20px;
  height: 300px;
}
#whit {
  margin: auto;
  padding: 1%;
  /* border: 4px solid red; */
  border-radius: 10px;
  background-color: aliceblue;
}
.check {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}
#delhi {
  display: flex;
  border: 0.1px solid grey;
  margin: auto;
  margin-top: 1%;
  width: 100%;
  height: 110px;
  display: flex;
  border-radius: 8px;
}
.bang {
  display: flex;
  width: 50%;
}
.bang > div {
  border: 0.1px solid rgb(187, 187, 187);
  width: 50%;
  padding: 0% 0% 0% 1%;
  text-align: left;
}
.bang > div:first-child {
  border-radius: 8px 0 0 8px;
}
#label {
  background-color: rgb(230, 227, 227);
  text-align: left;
  display: flex;
  height: auto;
  border-radius: 8px;
  margin-top: 1.8%;
  width: 53%;
}
#label > div {
  border: 1px solid white;
  text-align: center;
  font-size: 16px;
}
label {
  cursor: pointer;
}
#search {
  background-color: rgb(72, 72, 253);
  color: white;
  font-size: 22px;
  padding: 1%;
  border-radius: 20px;
  border: none;
  margin-top: 5%;
  cursor: pointer;
  width: 20%;
}
#where {
  display: flex;
  margin: auto;
  border-radius: 50px;
  width: 75%;
  height: auto;
  margin-top: 30px;
  background-color: rgb(231, 230, 230);
}
#where > div {
  margin: auto;
  height: 100%;
  width: 100%;
  font-size: 16px;
  border-left: 2px solid white;
}
#where > div:first-child,
#where > div:last-child {
  border-radius: 50px;
  border: none;
}
#where > div > img {
  height: 30%;
  width: 20%;
}
#where > div:hover,
.bang > div:hover {
  background-color: rgb(229, 229, 229);
  cursor: pointer;
}

#whit {
  margin: auto;
  padding: 1%;
  border-radius: 10px;
  background-color: aliceblue;
}
.check {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}
#delhi {
  display: flex;
  border: 0.1px solid grey;
  margin: auto;
  margin-top: 1%;
  width: 100%;
  height: 110px;
  display: flex;
  border-radius: 8px;
}
.bang {
  display: flex;
  width: 50%;
}
.bang > div {
  border: 0.1px solid rgb(187, 187, 187);
  width: 50%;
  padding: 0% 0% 0% 1%;
  text-align: left;
}
.bang > div:first-child {
  border-radius: 8px 0 0 8px;
}
#label {
  background-color: rgb(230, 227, 227);
  text-align: left;
  display: flex;
  height: auto;
  border-radius: 8px;
  margin-top: 1.8%;
  width: 53%;
}
#label > div {
  border: 1px solid white;
  text-align: center;
  font-size: 16px;
}
label {
  cursor: pointer;
}
#search {
  background-color: rgb(72, 72, 253);
  color: white;
  font-size: 22px;
  padding: 1%;
  border-radius: 20px;
  border: none;
  margin-top: 5%;
  cursor: pointer;
  width: 20%;
}
#where {
  display: flex;
  margin: auto;
  border-radius: 50px;
  width: 75%;
  height: auto;
  margin-top: 30px;
  background-color: rgb(231, 230, 230);
}
#where > div {
  margin: auto;
  height: 100%;
  width: 100%;
  font-size: 16px;
  border-left: 2px solid white;
}
#where > div:first-child,
#where > div:last-child {
  border-radius: 50px;
  border: none;
}
#where > div > img {
  height: 30%;
  width: 20%;
}
#where > div:hover,
.bang > div:hover {
  background-color: rgb(229, 229, 229);
  cursor: pointer;
}
#crousel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  padding: 2%;
  gap: 3%;
}
#big {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  margin-top: 200px;
  border: 1px solid rgb(249, 248, 248);
}
#live {
  display: flex;
  border-radius: 15px;
  margin-top: 5%;
  gap: 5%;
  padding: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#image {
  border-radius: 15px;
  width: 40%;
}
#gene {
  border-radius: 15px;
  width: 60%;
  text-align: left;
}
#gene > button {
  border: none;
  color: blue;
  font-weight: bolder;
  padding: 2%;
  background-color: white;
  font-size: 17px;
}
#live > div > img {
  height: 80%;
  width: 90%;
  margin-top: 10%;
}
#offer {
  margin: 2% auto 2% auto;
  /* margin-top: 2%; */
  width: 90%;
  display: flex;
  justify-content: space-between;
}
#offer > div:first-child {
  width: 70%;
}
#btn > button {
  align-items: flex-end;
  padding: 10px;
  color: #0b69b5;
  font-size: 14px;
  font-weight: 900;
  border-radius: 5px;
  border: 0.1px solid gray;
  margin-right: 5px;
}
#par {
  display: flex;
}
#par > a {
  margin: 1% 1% 0 1%;
}
#add {
  width: 80%;
  height: auto;
  border: 1px solid pink;
  border-radius: 15px 0 0 15px;
  margin: 3% auto 3% auto;
}
#add > img {
  width: 100%;
  height: 100%;
}
#down {
  width: 90%;
  height: 200px;
  margin: auto;
  padding: 2%;
  display: flex;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#get > h1 {
  font-size: 2.8rem;
  margin-bottom: 1%;
}
#get {
  border-right: 0.1px solid grey;
  width: 70%;
  text-align: left;
}
#get > input,
#get > button {
  padding: 13px;
  font-size: 1.1rem;
  margin-top: 10px;
  border-radius: 10px;
  border: 0.1px solid grey;
}
#qr {
  height: 55%;
  width: 40%;
  margin-top: 25px;
}
#store {
  margin-top: 25px;
  height: 62%;
  width: 50%;
  margin-right: 6%;
}
.imgcard > div {
  display: flex;
  width: 95%;
  gap: 2%;
  margin: auto;
}
.imgcard {
  padding: 2%;
  border-radius: 15px;
  text-align: left;
  margin: 3% auto 3% auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.imgcard > h1 {
  margin-bottom: 2%;
}
#trip {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  height: 70px;
  border-radius: 10px;
  border: 2px solid red;
  margin-bottom: 30px;
}
#trip > div > img {
  height: 100%;
  width: 20%;
}
#trip > div > button {
  padding: 6px;
  border: none;
  color: #0b69b5;
  font-weight: 900;
  width: 100%;
  margin: 20% 20px 32% 0;
}


.homeTop {
  position: relative;
  min-height: 80vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(360deg, #144379, #061424);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeTop>.homeTopCard {
  position: relative;
  background: white;
  height: auto;
  width: 80%;
  padding: 30px 0 0 0;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.homeTop>.homeTopCard>.secondHeader {
  position: relative;
  top: -80px;
  width: 90%;
  padding: 20px 0;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* border: 1px solid black; */
}

.homeTop>.homeTopCard>.secondHeader>.iconCard.active {
  color: royalblue;
  border-bottom: 2px solid royalblue;
}

.homeTop>.homeTopCard>.secondHeader>.iconCard {
  font-size: 20px;
  text-align: center;
  padding: 0 5px;
  /* border: 1px solid black; */
}

.homeTop>.homeTopCard>.secondHeader>.iconCard>h1 {
  font-size: 14px;
}

/*  */
.homeTop>.homeTopCard>.homeInputBx {
  position: relative;
  top: -50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 20px;
  /* border: 1px solid black; */
}

.homeTop>.homeTopCard>.homeInputBx>p {
  padding: 0 20px;
  font-weight: 500;
}

.homeTop>.homeTopCard>.homeInputBx>div {
  display: flex;
  /* border: 1px solid black; */
}

.homeTop>.homeTopCard>.homeInputBx>div>.homeInputs {
  display: flex;
  font-weight: 600;
  /* border: 1px solid black; */
}

.homeTop>.homeTopCard>.homeInputBx>div>.homeInputs input {
  margin: 0 10px;
}

/*  */
.homeTop>.homeTopCard>.homeMainSearchInput {
  position: relative;
  top: -40px;
  width: 95%;
  display: flex;
  /* border: 1px solid green; */
}

.homeTop>.homeTopCard>.homeMainSearchInput>.MainSearchinputBx {
  position: relative;
  padding: 15px 5px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.5s ease;
  /* border: 1px solid #000; */
}

.homeTop>.homeTopCard>.homeMainSearchInput>.MainSearchinputBx:hover {
  background: rgb(216, 250, 255);
}

.homeTop>.homeTopCard>.homeMainSearchInput>.MainSearchinputBx span {
  font-weight: 700;
  font-size: 10px;
  display: flex;
  padding: 0 20px;
}

.homeTop>.homeTopCard>.homeMainSearchInput>.MainSearchinputBx select,
.homeTop>.homeTopCard>.homeMainSearchInput>.MainSearchinputBx input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  /* text-align: center; */
  /* border: 1px solid blue; */
}

.homeTop>.homeTopCard>.homeMainSearchInput>.MainSearchinputBx:nth-child(1) input {
  font-size: 25px;
  font-weight: 700;
  width: 80%;
  padding: 0 20px;
}

.homeTop>.homeTopCard>.homeMainSearchInput>.MainSearchinputBx:nth-child(2) input {
  font-size: 25px;
  font-weight: 700;
  padding: 0 20px;
}

.homeTop>.homeTopCard>.homeMainSearchInput>.MainSearchinputBx:last-child input {
  text-align: center;
  font-size: 25px;
}

.homeTop>.homeTopCard>.homeMainSearchInput>.MainSearchinputBx>button {
  position: absolute;
  right: -18px;
  top: 25px;
  padding: 5px 8px;
  z-index: 12;
  /* border: 1px solid blue;; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 50%;
}

/*  */
.homeTop>.homeTopCard>.homeSearchButtonBx {
  position: absolute;
  bottom: 0;
  bottom: -20px;
  /* border: 1px solid black; */
}

.homeTop>.homeTopCard>.homeSearchButtonBx>button {
  padding: 0px 50px;
  background: linear-gradient(to right, #4fadfe, #156bf5);
  color: white;
  font-size: 25px;
  font-weight: 700;
  border-radius: 30px;
}

/*  */
.homeTop>.homeTopCard>.Homeoptions {
  position: relative;
  top: -40px;
  display: flex;
  margin-top: 20px;
  width: 95%;
  gap: 3px;
  /* border: 1px solid black; */
}

.homeTop>.homeTopCard>.Homeoptions>.optionsInputBx {
  display: flex;
  gap: 10px;
  padding: 10px 5px;
  background-color: rgba(0, 0, 0, 0.1);
  /* border: 1px solid black; */
}

.homeTop>.homeTopCard>.Homeoptions>.optionsInputBx input {
  width: 20px;
  /* outline: none; */
}

/*  */

.homeTop>.homeExplore {
  position: absolute;
  bottom: -30px;
  background-color: white;
  display: flex;
  gap: 20px;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  /* border: 1px solid #000; */
}

.homeTop>.homeExplore>.exploreCard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-right: 1px solid gray;
  padding: 10px 20px;
}

.homeTop>.homeExplore>.exploreCard:last-child {
  border: none;
}

.homeTop>.homeExplore>.exploreCard>img {
  width: 30px;
}

.MainSearchinputBx>input{
  border: none;
}
.homeSearchButtonBx>button{
  border: none;
}