.App {
  text-align: center;
}

#navbar {
  width: 90%;
  height: 100%;
  display: flex;
  margin: auto;
}

#nav_home {
  display: none;
}

#nav_category {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_box {
  line-height: 0px;
  cursor: pointer;
}

.nav_avatar {
  width: 35%;
}

.nav_avatar:hover {
  color: #008cff;
}

.nav_text {
  font-size: 13px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav_text:hover {
  color: #008cff;
  text-decoration: underline;
}

#nav_filter {
  /* border: 1px solid green; */
  justify-content: space-around;
  align-items: center;
}

.select_label {
  font-size: 13px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.select {
  border: none;
  color: #008cff;
  cursor: pointer;
}

/* footer css  */

#footer_top {
  background-color: #f3f1f1;
  width: 90%;
  margin: auto;
  text-align: left;
}

#footer_top spam {
  font-size: 13px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#footer_top spam:hover {
  color: #008cff;
  cursor: pointer;
}

.footer_top_category {
  font-size: 12px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#footer_mid {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 30px;
  background-color: #dddbdb;
  text-align: left;
  padding: 40px 20px;
}

.footer_about_me {
  font-weight: 700;
}

.footer_description {
  font-size: 13px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 14px;
}

#footer_bottom {
  width: 90%;
  margin: auto;
  justify-content: space-between;
  background-color: black;
  padding: 50px 0px;
}

#hamburger {
  display: none;
}

@media (max-width: 880px) {
  #nav_div {
    width: 100%;
    height: 40px;
  }

  #nav_home {
    display: block;
    border-bottom: 1px solid gray;
    padding-left: 20px;
    padding-bottom: -10px;
    font-weight: 500;
    cursor: pointer;
  }

  #nav_home:hover {
    color: #008cff;
    text-decoration: underline;
  }

  #navbar {
    width: 100%;
    height: 60px;
    display: block;
    text-align: left;
  }

  #nav_category {
    display: none;
  }
  #nav_filter {
    display: none;
  }
  #hamburger {
    display: block;
    padding: 20px;
  }
  #tablet_nav_category {
    display: block;
    width: 100%;
  }
  #tablet_nav_category .nav_avatar {
    display: none;
  }
  #nav_logo {
    display: none;
  }
  #tablet_nav_category .nav_box {
    border-bottom: 1px solid gray;
    background-color: white;
  }
  #tablet_nav_category .nav_text {
    font-size: 17px;
    font-weight: 500;
    padding-left: 20px;
  }
}
